@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  background: radial-gradient(#531CB3, #474747);
  color: #DBA8AC;
  min-height: 100vh;
}

#content {
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem;
  background: radial-gradient(#0b201d, #021619);
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

h1 {
  font-family: 'Red Hat Text', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #F2AF29;
  text-shadow: 0 0 4px rgba(35, 34, 34, 0.4);
  font-size: 3.5rem;
  margin: 0;
}

h1 em {
  font-style: normal;
  color: #531CB3;
}

header p {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  color: #DBA8AC;
}

#player {
  text-align: center;
}

#player h2 {
  color: #DBA8AC;
}

#player p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player input {
  font: inherit;
  border: 1px solid #DBA8AC;
  background-color: #000000;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.25rem;
  color: #DBA8AC;
}

#player button {
  cursor: pointer;
  background-color: #531CB3;
  border: 1px solid #531CB3;
  padding: 0.4rem 1rem;
  color: #DBA8AC;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#player button:hover {
  background-color: #531CB3;
  border-color: #531CB3;
}

/* Challenges */
#challenges {
  max-width: 50rem;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.challenge {
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem auto;
  background: linear-gradient(#531CB3, #d44652);
  color: #F2AF29;
  box-shadow: 0 2px 8px rgba(35, 34, 34, 0.6);
  border-radius: 6px;
}

.challenge button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #12352f;
  color: #F2AF29;
  font-size: 1.2rem;
  cursor: pointer;
}

.challenge button:hover {
  background: #051715;
}

.challenge h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #DBA8AC;
}

.challenge-time {
  border: 1px solid #46cebe;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
}

.challenge .active {
  animation: flash 1s infinite;
}